<div class="row">
  <div class="col-md-12">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>15:30 EDT | 09:30 HST</td>  <td>break</td> </tr>
      <tr> <td>16:00 EDT | 10:00 HST</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>17:00 EDT | 11:00 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:40 EDT | 11:40 HST</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-12">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td>Plotting and Programming with Python</td> </tr>
      <tr> <td>15:30 EDT | 09:30 HST</td>  <td>break</td> </tr>
      <tr> <td>16:00 EDT | 10:00 HST</td>  <td>Plotting and Programming with Python (Continued)</td> </tr>
      <tr> <td>17:00 EDT | 11:00 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:40 EDT | 11:40 HST</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-12">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td>Plotting and Programming with Python (Continued)</td> </tr>
      <tr> <td>15:30 EDT | 09:30 HST</td>  <td>break</td> </tr>
      <tr> <td>16:00 EDT | 10:00 HST</td>  <td>Python Enviornments with Conda</td> </tr>
      <tr> <td>17:00 EDT | 11:00 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:40 EDT | 11:40 HST</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
