<div class="row">
  <div class="col-md-7">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr> <td>15:00 EDT | 09:00 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>15:10 EDT | 09:10 HST</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td></tr>
      <tr> <td>16:10 EDT | 10:10 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>16:20 EDT | 10:20 HST</td>  <td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td></tr>
      <tr> <td>17:20 EDT | 11:20 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00 EDT | 12:00 HST</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-7">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python</a></td></tr>
      <tr> <td>15:00 EDT | 09:00 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>15:10 EDT | 09:10 HST</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python (Continued)</a></td></tr>
      <tr> <td>16:10 EDT | 10:10 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>16:20 EDT | 10:20 HST</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python (Continued)</a></td> </tr>
      <tr> <td>17:20 EDT | 11:20 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00 EDT | 12:00 HST</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-7">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>14:00 EDT | 08:00 HST</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python (Continued)</a></td></tr>
      <tr> <td>15:00 EDT | 09:00 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>15:10 EDT | 09:10 HST</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python (Continued)</a></td></tr>
      <tr> <td>16:10 EDT | 10:10 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>16:20 EDT | 10:20 HST</td>  <td>Python Enviornments with Conda</td> </tr>
      <tr> <td>17:20 EDT | 11:20 HST</td>  <td>10 minute break</td> </tr>
      <tr> <td>17:30 EDT | 11:30 HST</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:50 EDT | 11:50 HST</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td></tr>
      <tr> <td>18:00 EDT | 12:00 HST</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
